@model OnlineGames.Web.AiPortal.ViewModels.Competitions.CompetitionViewModel
@{
    ViewBag.Title = Model.Name;
}

<h1>@ViewBag.Title</h1>
<hr/>
@Html.Raw(Model.Description)
@foreach (var team in Model.Teams)
{
    <hr/>
    <div class="row">
        <div class="col-sm-4">
            <h4>
                <strong>1.</strong>
                <a href="/Teams/Info/@team.Id">@team.Name</a>
            </h4>
        </div>
        @foreach (var teammember in team.TeamMembers)
        {
            <div class="col-sm-2">
                <img src="@teammember.AvatarUrl" width="36" height="36" alt="@teammember.UserName" class="img-thumbnail"/>
                <span class="badge">@teammember.UserName</span>
            </div>
        }
        @for (var i = team.TeamMembers.Count() + 1; i <= Model.MaximumParticipants; i++)
        {
            <div class="col-sm-2"></div>
        }
        <div class="col-sm-2">
            <strong><span class="center-block text-center">0 points</span></strong>
        </div>
    </div>
}