@using OnlineGames.Web.AiPortal.Infrastructure
@model OnlineGames.Web.AiPortal.ViewModels.Competitions.CompetitionViewModel
@{
    ViewBag.Title = Model.Name;
    var position = 0;
}

<h1>
    @ViewBag.Title (@Model.Teams.Count() teams)
    @if (User.IsAdmin())
    {
        <a href="/Competitions/CreateBattles/@Model.Id" class="btn btn-success">Create battles</a>
        <a href="/Competitions/RestartBattles/@Model.Id" class="btn btn-success">Restart battles</a>
    }
</h1>
<hr/>
@Html.Raw(Model.Description)
@foreach (var team in Model.Teams.OrderByDescending(x => x.Points).ThenBy(x => x.Id))
{
    position++;
    <hr/>
    <div class="row">
        <div class="col-sm-4">
            <h4>
                <strong>@position.</strong>
                <a href="/Teams/Info/@team.Id">@team.Name</a>
                @if (team.Uploads.Any())
                {
                    <small><i class="glyphicon glyphicon-upload" title="Has uploaded file"></i></small>
                }
            </h4>
        </div>
        @foreach (var teammember in team.TeamMembers)
        {
            <div class="col-sm-2">
                <img src="@teammember.AvatarUrl" width="36" height="36" alt="@teammember.UserName" class="img-thumbnail"/>
                <span class="badge">@teammember.UserName</span>
            </div>
        }
        @for (var i = team.TeamMembers.Count() + 1; i <= Model.MaximumParticipants; i++)
        {
            <div class="col-sm-2"></div>
        }
        <div class="col-sm-2">
            <strong><span class="center-block text-center">0 points</span></strong>
        </div>
    </div>
}