@using OnlineGames.Web.AiPortal.Infrastructure
@model OnlineGames.Web.AiPortal.ViewModels.Teams.TeamInfoViewModel
@{
    var currentUserIsPartOfTheTeam = Model.TeamMembers.Any(x => string.Equals(x.UserName, User.Identity.Name, StringComparison.OrdinalIgnoreCase));
    ViewBag.Title = $"Team {Model.Name} ({Model.Points} points)";
}

<h1>
    @ViewBag.Title
    @if (currentUserIsPartOfTheTeam)
    {
        <a href="/Upload/Index/@Model.Id" class="btn btn-success">Upload AI Library</a>
    }
</h1>

<hr/>

<ul class="nav nav-justified">
    @foreach (var teammember in Model.TeamMembers)
    {
        <li class="active">
            <img src="@teammember.AvatarUrl" alt="@teammember.UserName"/>
            <span class="badge">@teammember.UserName</span>
        </li>
    }
</ul>

<hr/>

<h2>Uploads</h2>
@if (Model.Uploads.Any())
{
    <p>Only the last uploaded file will be used for AI battles.</p>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>#</th>
            <th>File name</th>
            <th>Uploaded on</th>
            @if (User.IsAdmin() || currentUserIsPartOfTheTeam)
            {
                <th>Download</th>
            }
        </tr>
        @foreach (var upload in Model.Uploads.OrderByDescending(x => x.Id))
        {
            <tr>
                <td>@upload.Id</td>
                <td>@upload.FileName</td>
                <td>@upload.CreatedOn</td>
                @if (User.IsAdmin() || currentUserIsPartOfTheTeam)
                {
                    <th><a href="/Upload/Download/@upload.Id"><i class="glyphicon glyphicon-download" title="Download"></i></a></th>
                }
            </tr>
        }
    </table>
}
else
{
    <p>No uploads for this team :(</p>
}

<hr/>

<h2>Battles</h2>
@if (Model.Battles.Any())
{
    <table class="table table-hover table-condensed">
        <tr>
            <th>Opponent team</th>
            <th>Team points</th>
            <th>Opponent points</th>
            <th>Comment</th>
            <th>Last change</th>
        </tr>
        @foreach (var battle in Model.Battles.OrderBy(x => x.OpponentTeam))
        {
            <tr>
                <td><a href="/Teams/Info/@battle.OpponentTeamId">@battle.OpponentTeam</a></td>
                <td>@battle.TeamWins</td>
                <td>@battle.OpponentWins</td>
                <td>
                    <a href="/Battles/Info/@battle.Id">
                        @if (!battle.IsFinished)
                        {
                            <span>Battle is not finished, yet.</span>
                        }
                        else
                        {
                            <span>@battle.Comment</span>
                        }
                    </a>
                </td>
                <td>@battle.ModifiedOn</td>
            </tr>
        }
    </table>
}
else
{
    <p>No battles :(</p>
}