@using OnlineGames.Web.AiPortal.Infrastructure
@model OnlineGames.Web.AiPortal.ViewModels.Teams.TeamInfoViewModel
@{
    var currentUserIsPartOfTheTeam = Model.TeamMembers.Any(x => string.Equals(x.UserName, User.Identity.Name, StringComparison.OrdinalIgnoreCase));
    ViewBag.Title = $"Team {Model.Name}";
}

<h1>@ViewBag.Title</h1>
<hr/>
<ul class="nav nav-justified">
    @foreach (var teammember in Model.TeamMembers)
    {
        <li class="active">
            <img src="@teammember.AvatarUrl" alt="@teammember.UserName"/>
            <span class="badge">@teammember.UserName</span>
        </li>
    }
</ul>
@if (currentUserIsPartOfTheTeam)
{
    <hr />
    <a href="/Upload/Index/@Model.Id" class="btn btn-success">Upload AI Library</a>
}

<h2>Uploads</h2>
@if (Model.Uploads.Any())
{
    <p>Only the last uploaded file will be used for AI battles.</p>
    <table class="table table-hover table-striped">
        <tr>
            <th>#</th>
            <th>File name</th>
            <th>Uploaded on</th>
            @if (User.IsAdmin() || currentUserIsPartOfTheTeam) { <th>Download</th> }
        </tr>
        @foreach (var upload in Model.Uploads.OrderByDescending(x => x.Id))
        {
            <tr>
                <td>@upload.Id</td>
                <td>@upload.FileName</td>
                <td>@upload.CreatedOn</td>
                @if (User.IsAdmin() || currentUserIsPartOfTheTeam)
                {
                    <th><a href="/Upload/Download/@upload.Id"><i class="glyphicon glyphicon-download" title="Download"></i></a></th>
                }
            </tr>
        }
    </table>
}
else
{
    <p>No uploads for this team :(</p>
}