<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AI Competitions" />
    <title>@ViewBag.Title - AI Competitions</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AI Competitions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Battles", "All", "Battles")</li>
                    <li><a href="https://github.com/NikolayIT/GameAITesterOnline/issues/new" target="_blank">Bug report</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }
        @if (!string.IsNullOrWhiteSpace(ViewBag.Info))
        {
            <div class="alert alert-info">@ViewBag.Info</div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info">@TempData["Info"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="https://github.com/NikolayIT/GameAITesterOnline">AI Competitions System</a> 0.4 (build 20151129.93a851a)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
